<header class="container-fluid d-flex justify-content-around align-items-center my-5 fade-in-left">
    <h4 class="d-inline">Proyectos</h4>
    <div class="linea-2"></div>
</header>
<section class="container-fluid text-center fade-in-left">
    <div class="img-container my-5">
        <img src="../../../assets/Imagenes-Portfolio/Img/Img-Proyectos.webp" alt="Img-Proyectos">
    </div>
    <h2 class="title">Proximamente</h2>
</section>
<footer class="container-fluid mt-5 fade-in-left">
    <ul id="lista" class="justify-content-center text-start py-4">
        <li routerLink="/inicio" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">inicio</span>
        </li>
        <li routerLink="/sobre-mi" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Conóceme</span>
        </li>
        <li routerLink="/skills" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Skills</span></li>

            <li routerLink="/contacto" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Contacto</span>
        </li>
    </ul>
</footer>