<header class="container-fluid d-flex justify-content-around align-items-center mt-5 fade-in-left">
    <h4 class="d-inline">Miqueas Santillán - Developer Full Stack</h4>
    <div class="linea"></div>
</header>

<div class="row container-fluid p-4 position-relative fade-in-left">
    <section class="col-md-5">
        <h1 class="title titulo-principal transUp my-4">2023<br>Portfolio</h1>
    </section>
    <aside class="col-md-7">
        <article class="d-flex justify-content-evenly ">
            <div class="img-container" id="img-1">
                <img src="../../../assets/Imagenes-Portfolio/Img/Img-Principal_1.webp">
            </div>
            <div class="img-container" id="img-2">
                <img src="../../../assets/Imagenes-Portfolio/Img/Img-Principal-2.webp">
            </div> 
        </article>
        <footer> 
            <ul id="lista" class="my-3">
                <li routerLink="/sobre-mi">
                    <span type="button" class="cambio-color" id="elem-lista">Conóceme</span>
                </li>
                <li routerLink="/proyectos">
                    <span type="button" class="cambio-color" id="elem-lista">Proyectos</span>
                </li>
                <li routerLink="/skills">
                    <span type="button" class="cambio-color" id="elem-lista">Skills</span>
                </li>
                <li routerLink="/contacto">
                    <span type="button" class="cambio-color" id="elem-lista">Contacto</span>
                </li>
            </ul>     
        </footer>
    </aside>
</div>