<header class="container-fluid d-flex justify-content-around align-items-center mt-5 fade-in-left">
    <h4 class="d-inline">Sobre mi</h4>
    <div class="linea-2"></div>
</header>
<section class="row container-fluid px-4 fade-in-left">
    <article class="col-sm-6 d-flex justify-content-center align-items-center transUp">
        <div class="img-container my-5">
          <img src="../../../assets/Imagenes-Portfolio/Img/Miqueas-Santillán.webp" alt="Miqueas-Santillán" id="img-miqueas">
        </div>
        <div class="px-4">
            <h3>Miqueas Santillán</h3>
            <h5>19 Años</h5>
        </div>
    </article>
    <article class="col-sm-6 d-flex justify-content-center align-items-center transUp">
        <div class="img-container my-5">
          <img src="../../../assets/Imagenes-Portfolio/Img/Arg.webp" alt="Argentina Programa" id="img-argProg" class="rounded">
        </div>
        <div class="px-4">
            <h3>
                <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="c-2">Argentina Programa</a>
            </h3>
            <h5>2022-2023</h5>
        </div>
    </article>
</section>
<div class="text-center px-5 fade-in-left">
    <p>Como desarrollador Full Stack, destaco por mi proactividad, trabajo en equipo y compromiso, respaldados por mi corta pero valiosa experiencia. A pesar de ser relativamente nuevo en el campo, mi entusiasmo y dedicación me han permitido aprender rápidamente y aplicar mis conocimientos de manera efectiva. Mi enfoque fresco y perspectiva única me brindan la capacidad de aportar ideas creativas e innovadoras a los proyectos en los que participo. Mi enfoque meticuloso y atención al detalle me permiten entregar soluciones de alta calidad, mientras que mi creatividad e innovación me impulsan a buscar nuevas formas de abordar desafíos. Siempre estoy comprometido con el crecimiento profesional continuo y dispuesto a enfrentar nuevos retos con una mentalidad abierta y entusiasta.</p>
</div>
<footer class="container-fluid mt-5 fade-in-left">
    <ul id="lista" class="justify-content-center text-start py-4">
        <li routerLink="/inicio" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">inicio</span>
        </li>
        <li routerLink="/proyectos" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Proyectos</span>
        </li>
        <li routerLink="/skills" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Skills</span></li>

            <li routerLink="/contacto" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Contacto</span>
        </li>
    </ul>
</footer>
