<header class="container-fluid d-flex justify-content-around align-items-center mt-5 fade-in-left">
    <h4 class="d-inline">Skills</h4>
    <div class="linea-2"></div>
</header>
<section class="container-fluid row mt-5 fade-in-left">
    <article class="col-md-4 text-center">
        <figure class="imghvr-slide-down transUp">
            <img src="../../../assets/Imagenes-Portfolio/Skills/Skills-Frontend.webp" alt="FrontEnd">
            <figcaption>
              <h3 class="title text-center">-Front-</h3>
              <div class="linea-3 my-1"></div>
              <div class="skill-data-container">
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/AngularJS.ico" alt="AngularJS" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Angular</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/HTML.ico" alt="HTML" class="icon-skill mx-2" id="html-icon">
                        <h6 class="c-1 my-2">HTML</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/CSS.ico" alt="CSS" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">CSS</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/TypeScript.ico" alt="TypeScript" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">TypeScript</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/JavaScript.ico" alt="JavaScript" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">JavaScript</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Front/Boostrap.ico" alt="Boostrap" class="icon-skill mx-2" id="boostrap-icon">
                        <h6 class="c-1 my-2">Boostrap</h6>
                    </div>
                </article>
              </div>
            </figcaption>
          </figure>
    </article>
    <article class="col-md-4 text-center">
        <figure class="imghvr-slide-down transUp">
            <img src="../../../assets/Imagenes-Portfolio/Skills/Skills-Backend.webp" alt="Backend">
            <figcaption>
              <h3 class="title text-center">-Back-</h3>
              <div class="linea-3 my-1"></div>
              <div class="skill-data-container">
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/Spring-Boot.ico" alt="Spring-Boot" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Spring Boot</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/Java.ico" alt="Java" class="icon-skill mx-2" id="html-icon">
                        <h6 class="c-1 my-2">Java</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/MySQL.ico" alt="MySQL" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">MySQL</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/Docker.ico" alt="Docker" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Docker</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/JSON.ico" alt="JSON" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">JSON</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Back/XML.ico" alt="XML" class="icon-skill mx-2" id="boostrap-icon">
                        <h6 class="c-1 my-2">XML</h6>
                    </div>
                </article>
              </div>
            </figcaption>
          </figure>
    </article>
    <article class="col-md-4 text-center">
        <figure class="imghvr-slide-down transUp">
            <img src="../../../assets/Imagenes-Portfolio/Skills/Skills-Herramientas.webp" alt="Herramientas">
            <figcaption>
              <h3 class="title text-center">Herramientas</h3>
              <div class="linea-3 my-1"></div>
              <div class="skill-data-container">
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/GitHub.ico" alt="GitHub" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">GitHub</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Firebase.ico" alt="Firebase" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Firebase</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Render.ico" alt="Render" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Render</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Clever-Cloud.ico" alt="Clever-Cloud" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Clever Cloud</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Postman.ico" alt="Postman" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Postman</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/ChatGPT.ico" alt="ChatGPT" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">ChatGPT</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Drawio.ico" alt="Drawio" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Drawio</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Figma.ico" alt="Figma" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Figma</h6>
                    </div>
                </article>
                <article class="my-4 mx-2">
                    <div class="bg-3 d-flex justify-content-start align-items-center">
                        <img src="../../../assets/Imagenes-Portfolio/iconos/Herramientas/Scrum.ico" alt="Scrum" class="icon-skill mx-2">
                        <h6 class="c-1 my-2">Scrum</h6>
                    </div>
                </article>
              </div>
            </figcaption>
          </figure>
    </article>
</section>

<footer class="container-fluid fade-in-left">
    <ul id="lista" class="justify-content-center text-start py-4">
        <li routerLink="/inicio" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">inicio</span>
        </li>
        <li routerLink="/sobre-mi" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Conóceme</span>
        </li>
        <li routerLink="/proyectos" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Proyectos</span>
        </li>
            <li routerLink="/contacto" class="mx-4 my-4">
            <span type="button" class="cambio-color" id="elem-lista">Contacto</span>
        </li>
    </ul>
</footer>



  